<footer id="sticky-footer" class="footer py-4 bg-dark text-white">
  <div class="container text-center"> 
    <small>Copyright &copy; <%= link_to "Go to my LinkedIn", "https://www.linkedin.com/in/lukasz-grzegorzewski-4c756b61737a/", class: "nav-link" %></small>
  </div>
</footer>